.comments{   
    margin-top: 2rem;
    color: var(--font-color);
    display: flex; 
    flex-direction: column; 
    max-width: 95%; 
    gap: 25px 0; 
} 
.comments__item{ 
    display: flex; 
    gap: 0 15px;
} 
.comments__img img{ 
    width: 55px; 
    height: 55px; 
    border-radius: 50%;
} 
.comment__info_subtitle{    
    overflow: hidden;
    max-width: 100%;
    word-wrap: break-word;
    margin: 0.6rem 0;
}