.video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.video__container {
  display: grid;
  width: 95%;
  grid-template-columns: 11fr 1fr;
  grid-template-areas: "video  list" "comments  list";
  gap: 0 35px;
}
.video__player {
  height: 100%;
  display: flex; 
  flex-direction: column; 
  grid-area: video;
} 
.video__info{ 
  width: 100%; 
  height: 100%;
}
.react_player { 
  width: 100% !important;
  height: 78vh !important;
  border-radius: 12px !important;
  overflow: hidden;
}
.video__list {
  gap: 15px 0;
  display: flex; 
  flex-direction: column;
  grid-area: list;
}
.comments {
  overflow: hidden; 
  max-width: 100%;
  margin-top: 3rem;
  display: grid;
  grid-area: comments;
}
.comments__title{ 
  font-size: 1.6rem; 
  color: var(--font-color);
  font-weight: 700;
}
.video__title {  
  font-size: 1.7rem;
  line-height: 2.8rem;
  font-weight: 700; 
  height: 100%;
  word-break: break-word;
  color: var(--font-color);
}
.video__text {  
  overflow: hidden;
  max-width: 100%;
  margin: 1rem 0;
}
.video__sub_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--font-color);
}
.video__sub_menu_title { 
  color: var(--font-color);
  font-weight: 600;
  font-size: 1.1rem;
}
.video__sub_menu_likes {
  padding: 5px 15px;
  border-radius: 20px;
  background-color: var(--categories-bg);
  display: flex;
  align-items: center;
}
.video__sub_menu_likes svg {
  margin-right: 15px;
  width: 24px;
  height: 24px;
}
.info {  
  max-width: 100%;
  border-radius: 12px;
  padding: 15px;
  background-color: var(--define-video-info-bg);
  color: var(--font-color);
}
.video__list_item:hover {
  cursor: pointer;
}
.info > div {
  margin: 0.5rem 0;
}
.info__title {
  font-size: 1.1rem;
  line-height: 2rem;
  font-weight: 600;
}
.info__desc {
  font-size: 0.9rem;
  line-height: 1.4rem;
}
.info__hash {
  font-size: 1rem;
  line-height: 1.4rem;
}
.info__hash > span {
  margin-right: 0.4em;
}

@media screen and (max-width: 905px) {
  .video__container {
    width: 98%;
    grid-template-areas: "video" "list" "comments";
    grid-template-columns: auto;
  }
  .video__player {
    width: 100%;
  }
  .video__list{
    margin-top: 2rem;
  }
}
@media screen and (max-width: 650px) {
  .video__container {
    width: 98%;
    grid-template-areas: "video" "list" "comments";
    grid-template-columns: auto;
  }
  .video__player {
    width: 100%;
  } 
  .video__title {
    font-size: 1.3rem;
    line-height: 2.2rem;
    word-wrap: break-word;
  }
  .video__sub_menu{ 
    margin: 2rem 0;
  } 
  .react_player {
    height: 30vh !important;
  }
}
