.video{ 
    padding: 0rem 0 3rem 0;
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
} 
.video__container{ 
    width: 95%; 
    /* display: grid; 
    grid-template-columns:  repeat(5, 1fr); */
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    flex-wrap: wrap;
    gap: 25px 0 ; 
}  
.video__card{  
    height: 100%;
    width: 19%;   
    display: flex; 
    flex-direction: column; 
}
.video__card_img img{  
    width: 100%; 
    height: 100%;
    border-radius: 11px;   
    object-fit: cover; 
    object-position:center ;
}  
.video__card_info > div { 
    margin: .5rem 0;
}
.video__card_desc{ 
    color: var(--font-color);
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 500;
    overflow: hidden;
    display: block;
    height: 3.7rem;

    -webkit-line-clamp: 2;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
} 

.video__card_date,.video__card_title{ 
    color: var(--video-desc-under-subtitle); 
    font-size: 15px;
} 
@media screen and (max-width:1440px) { 
    .video__card{ 
        width: 24%;  
    }
}
@media screen and (max-width:1220px) { 
    .video__card{ 
        width: 32%;  
    }
}
@media screen and (max-width:768px) { 
    .video__card{ 
        width: 49%;  
    }
}
@media screen and (max-width:550px) { 
    .video__card{ 
        width: 100%;  
    } 
    .video__card_desc{
        height: auto;
    }
}